<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand zoom" id="logo-nav" href="/">PPiW <span id="logo-shop">shop</span></a>
                <ul class="nav navbar-nav navbar-right">
                  {{# if login }}
                    <li><a href="/user/profile"><i class="fas fa-user-cog" style="color: dodgerblue;"></i> My account </a></li>
                    <li><a href="/user/logout"><i class="fas fa-sign-out-alt" style="color: dodgerblue;"></i> Logout </a></li>
                  {{ else }}
                    <li id="signUpBtn" ><a href="/user/signup"><i class="fas fa-user-plus" style="color: dodgerblue;"></i> Sign Up </a></li>
                    <li id="loginBtn"><a href="/user/signin"><i class="fas fa-user " style="color: dodgerblue;"></i> Sign in</a></li>
                  {{/if}}
                    <li>
                        <a href="/shopping-cart"><i class="fas fa-shopping-cart" style="color: orange;"></i><span class="badge product-quantity" style="background-color:dodgerblue;">{{session.cart.totalQuantity}}</span></a>  
                    </li>
                </ul>
                <form action="/" class="navbar-form navbar-center" method="GET">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control search" id="searchInput" placeholder="Search for games...">
                        <button type="submit" class="btn" value="search" id="submitSearch"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>
{{#if message}}
<div class="alert alert-danger">{{ this.message }}</div>
{{/if}}