body {
  background: url("https://c.pxhere.com/photos/66/81/gamepad_video_game_controller_game_controller_controller_fun_playing_gaming_technology-568722.jpg!d") no-repeat fixed;
  font-family: 'Kanit', sans-serif;
  font-size: 17px;
  background-size: cover;
}

.form-box {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.form-box input {
  height: 50px;
}

#game_thumbinails {
  margin-top: 2%;
  margin-bottom: 2%;
}

.zoom {
  transition: transform .4s; /* Animation */
}

.zoom:hover {
  transform: scale(1.08); /* 1.15 = 115% zoom */
}
* {box-sizing: border-box;}

.input-container {
display: flex;
width: 100%;
margin-bottom: 15px;
}

.input-field {
width: 100%;
padding: 10px;
outline: none;
}

.input-field:focus {
border: 2px solid dodgerblue;
}

.btn:hover {
  opacity: 1;
}

.checked {
color: orange;
}

#logo-nav {
color: dodgerblue;
font-size: 38px;
padding-left: 18%;
font-family: 'Montserrat Subrayada', sans-serif;
}

#logo-shop {
color: orange;
}

.container {
  padding-top: 2.5%;
  padding-bottom: 3%;
}

.badge {
  background-color:dodgerblue;
  font-size: 14px;
}

.cart-list {
  font-size: 19px;
  color: white;
}

.show-more {
  width: 70%;
  height: 50px;
  margin: 2%;
  font-size: 1.5em;
  margin-left: 15%;
  margin-right: 15%;
}