<div class="row container form-box" style="width: 550px;">
        <h4 align="center">Add a new product to the database <i class="fas fa-database"></i></h4>
        <form action="/new-product" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="imagePath" placeholder="Image URL" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Title" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="cover" placeholder="Cover URL" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="trailer" placeholder="Trailer URL (YouTube embed)" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" placeholder="Description" style="max-width: 100%; min-width: 100%; height: 110px;" required></textarea>
            </div>
            <div class="form-group">
                <input type="number" min="1" placeholder="Price (in €)" name="price" style="width: 100%; padding: 3%; color:black;" required>
            </div>
            <button type="submit" class="btn btn-lg btn-info" style="width: 100%; height: 50%;">Submit <i class="far fa-share-square"></i></button>
        </form>
</div>