<div class="row container form-box">
        <h4>Add new comment to {{product.title}}</h4>
        <form action="/product/{{product._id}}/comment" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="authortxt" placeholder="Author" required></input>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="contenttxt" placeholder="Opinion..." style="max-width: 100%; min-width: 100%; height: 130px;" required></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-primary" style="width: 100%;">Submit</button>
        </form>
</div>